@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
  max-width: 1920px;
}
